body {
    background-color: white;
    font-family: "Raleway", sans-serif;
    color: #445361;
    text-align: center;
    background-color:lightgray;
}

.wrapper {
    box-sizing: border-box;
    width: 85%;
    height: 65vh;
    max-height: 450px;
    max-width: 830px;
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
    margin-top: 2%;
    background-color: white;
}
.button-choice {
    align-content: center;
}

.btn {
    width: 140px;
    height: 140px;
    font-size: 100px;
    margin-left: 1%;
    text-align: center;
    background-color: gray; 
}



.btn-rock {
    color: black;
}

.btn-paper {
    color: white;
}

.btn-scissor {
    color: #800000;
}

.computer, .user {
    font-size: 150%;
    font-weight:bold;
}

#win, #win-computer{
    font-size: 120%;
}